@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @import "_buttons.css";
    @import "_forms.css";
    @import "_admin.css";
}

@layer base {
    .main-wrapper {
        @apply w-full mx-auto px-6 py-3 my-6 shadow-md bg-[#124559] sm:max-w-4xl rounded-lg text-white;
    }
}

.discord-link {
    @apply flex items-center text-base font-medium transition duration-150 ease-in-out dark:text-gray-50 dark:hover:text-gray-300 hover:text-gray-400;
}

.sidebar-link {
    @apply flex items-center text-sm font-medium text-slate-200 hover:text-[#aec3b0] transition duration-150 ease-in-out;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-link-active {
    @apply !text-white !font-bold !tracking-wider !text-base;
}

.text-link {
    @apply font-semibold text-blue-400 hover:underline;
}
